.app-list {
	list-style-type: none;
}

.application, .description {
	display: block;
	clear: both;
}

.application {
}

.app-category .application-header {
	background-repeat: no-repeat;
	display: block;
	width: 300px;
	height: 40px;
	background-position: left center;
}

.app-row {
	float: left;
	width: 100%;
}

.col2 {
	width: 48%;
	float: left;
}

.app-category {
	margin: 5px 0;
}

.app-category a {
	border: 0 none;
}

