/var/log/php-fpm/*.log {
	create
	missingok
	notifempty
	nosharedscripts
	postrotate
		/bin/kill -SIGUSR1 "$(systemctl show -pMainPID  php-fpm-{{ fpm_service_name }}  | cut -d= -f2)" 2> /dev/null || true
	endscript
}
