.disk-usage .ui-gauge-label {
	color: #4f4f4f;
	margin-top: 1px;
	top: 0;
}

.ui-app .ui-gauge-crit .ui-label-percentage {
	color: #fff;
	font-weight: bold;
}

.disk-usage .ui-gauge-cluster {
	height: 26px;
	overflow: hidden;
	position: relative;
}

.disk-usage .ui-gauge {
	width: 150px;
}

.disk-usage .ui-label-cluster {
	float: right;
}

#app-quotatracker .disk-usage .ui-label-percentage {
	position: absolute;
	top: 7px;
	left: 2px;

}

.disk-usage .ui-gauge-label-used, .disk-usage .ui-gauge-label-total {
	float: left;
	margin-left: 1em;
}

.quota-percent {
	clear: both;
	text-align: center;
}

.incr {
	color: green;
}

.decr {
	color: #9a9a9a;
}

.warning {
	color: #F3730D;
	font-weight: bold;
}

.key-item {
	border-radius: 100%;
	width: 1em;
	height: 1em;
	border: 3px solid gray;
	display: inline-block;
	content: '';
	vertical-align: middle;
}

#storage-graph {
	height: 200px;
	width: 100%;
	display: block;
}

#storageTable td {
	vertical-align: middle;
}