[Unit]
Description=Periodic storage logging metrics
After=postgresql.service
Wants=postgresql.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "{{ apnscp_root }}/bin/scripts/storagelog.sh"

[Install]
WantedBy=multi-user.target
